body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: deepskyblue;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: -1px;
}

.puzzle-grid-drop {
    width: 95px;
    height: 95px;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
}

.draggable-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.draggable-images img {
    width: 100px;
    height: 100px;
    margin: 10px;
}